# Welcome everybody!

## Today we will learn python!

As you saw this is a jupyter notebook. It has "cells" which are small chunks of code that can be run individuall

You can interact with the outputs easily, making it very clear what has run and what happened

Right now I am writing markdown. Jupyter notebooks + markdown are a great way to document your code and workflows.

I will talk about markdown when we cover Jupyter notebooks later in the semester in more detail.

We will use it for in class tutorials and homeworks.

## Okay, diving in, here's python

## 1. First off, you can do math with python

In [1]:
5+3

8

In [2]:
5*3

15

In [3]:
(5+3)*8

64

In [4]:
(8*3)/5.3

4.528301886792453

# All of the above are python "statements" which is just a single thing to run
##  2.1. You can also assign values to variables

In [5]:
x = 5
y = 3
x*y

15

## 2.2. Variables can be updated!

In [6]:
x, y

(5, 3)

In [7]:
x = x * 2

In [8]:
x

10

In [9]:
x += 1 #equivalent to x = x+1

In [10]:
x

11

In [11]:
x*y

33

# Data types

So far you've just seen some basic math

But clearly programs work on more than just arithmetic.

Programming languages (almost) always encode different data in different ways, called "types"

And let you operate on these "types" in specific ways

So let's dive in!

## 3.1. Strings

Aside from numbers, strings are a very basic data type.

Strings encode text. They are called "strings" because they are "strings of characters"

Strings in python can be enclosed in either single (') or double (") quotes, but generally single is preferred

In [12]:
"Hello"

'Hello'

In [13]:
'Hello'

'Hello'

In [14]:
greeting = 'hello'

In [15]:
print(greeting)

hello

In [16]:
name = 'GLY606'

In [17]:
print(greeting + ' ' + name)

hello GLY606

## 3.2. So what happens if you add a string and number?

In [18]:
5 + greeting

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [19]:
str(5) + greeting

'5hello'

## 3.3. And now for a complication...

In [20]:
5 * greeting

'hellohellohellohellohello'

# An important lesson

In python, types, while generally hidden, are very important.

Always know what your variables's data types are

You can find out by wrapping the variable in `type(...)`

In [21]:
x, type(x)

(11, int)

In [22]:
greeting, type(greeting)

('hello', str)

# So, what types are out there?

Python has a few basic data types which are very common to use

* `int`: Integers, or whole numbers
* `float`: Floating point numbers, or real numbers (those which decimals)
* `str`: Strings, or text data
* `tuple`: You just saw one of these, it's a sequence denoted by parentheses (more later)
* `list`: Also a sequence, but with different properties than a `tuple`
* `dict`: Dictionaries, maps a `key` to a `value`, very useful as a lookup table
* `bool`: Boolean values, basically just True or False - same concept as binary, named after George Boole

Ignoring `int` and `float` for the moment, let's go through these

## 3.4. Strings (`str`)

There are many things you can do with text data.

To show this I'll create a variable called `message`

In [23]:
message = 'This is a message'

In [24]:
type(message)

str

If you want to get a particular character of a string you can "index" it with square brackets, and an integer value starting at `0`.

You can also start from the end by using negative integers to index, starting at `-1`

In [25]:
message[0]

'T'

In [26]:
message[1]

'h'

In [27]:
message[3]

's'

In [28]:
message[-1]

'e'

In [29]:
message[-2]

'g'

You can also do things like `split` the string by acting on it with the `.` operator

In [30]:
message.split(' ')

['This', 'is', 'a', 'message']

# 3.5. Wait a second, what's that `[` and `]` business?

This brings us to the two sequence types, `tuples` and `lists`.

Generally, when in doubt use a `list` over a `tuple`

Both are collections of other types of data

`lists` are denoted with square brackets, while `tuples` have parentheses

In [31]:
type(message.split(' '))

list

In [32]:
# A list
my_list = [1, 2, 3]

# A tuple
my_tuple = (4, 5, 6)

In [33]:
my_list

[1, 2, 3]

In [34]:
my_tuple

(4, 5, 6)

## 3.6. Both lists and tuples can be indexed

In [35]:
my_list[0]

1

In [36]:
my_tuple[0]

4

## 3.7. Both can be extended by "adding" another object

In [37]:
my_list + [4, 5, 6]

[1, 2, 3, 4, 5, 6]

In [38]:
my_tuple + (4, 5, 6)

(4, 5, 6, 4, 5, 6)

# 3.8. You can create blank versions of each with keywords

This is a bit of a preview of "functions" but check these defaults

In [39]:
empty_list = list()
empty_list = []

empty_tuple = tuple()
empty_tuple = ()

# 3.9. Wait! But what's the difference between `tuple` and `list`?

`tuples` are <b>immutable</b> objects, `lists` are <b>mutable</b>. 

This means tuples cannot be changed while lists can be modified

In [ ]:
my_list[0] = 0

In [ ]:
my_list

In [ ]:
my_tuple[0] = 1

## 3.10. A bit more complication when there is only one element in `tuple` and `list`...

In [41]:
type(['str'])

list

In [48]:
type(('str'))

str

In [43]:
type(('str',))

tuple

In [44]:
my_tuple + ('str')

TypeError: can only concatenate tuple (not "str") to tuple

In [45]:
my_tuple + ('str',)

(4, 5, 6, 'str')

# Before getting into functions and all that we gotta talk booleans and dictionaries

## 3.11. First, booleans

Booleans, or just `bool`s are binary variables.

They can take 2 values: `True` or `False` (note capitalization)

You can do basic elementary logic with them

In [49]:
yes = True
no = False

yes or no

True

In [50]:
yes and no

False

In [51]:
yes and True

True

## 3.12. You can also convert logical statements about other data types into booleans

In [52]:
30 < 5

False

In [53]:
x < 100

True

In [54]:
'yes' in 'yes or no'

True

In [55]:
'yes' in message

False

## 3.13. And now, dictionaries

Dictionaries are awesome, and useful in a huge number of data science tasks

They are like `lists` and `tuples` in that they contain a number of other things

But, they have the concept of a `key` and a `value`.

It's basically a lookup table

You can make the `keys` any data type you want rather than just integers like `lists` and `tuples`

The syntax to create one is with curly braces `{}` or with the `dict()` keyword

In [56]:
my_new_dict = {}

my_new_dict[0] = 'first'
my_new_dict['second'] = 2

my_new_dict

{0: 'first', 'second': 2}

In [57]:
my_new_dict['second']

2

In [58]:
my_new_dict(4)

TypeError: 'dict' object is not callable

In [59]:
my_new_dict['asdf']

KeyError: 'asdf'

In [60]:
print(my_new_dict.keys())

dict_keys([0, 'second'])

In [61]:
print(my_new_dict.values())

dict_values(['first', 2])

# 4.1. No functions yet, just loops

Loops are ways of doing something multiple times.

There are 2 main kinds. `while` and `for`

`while` specifies a condition (which evaluates to a `bool`) to keep going

`for` specifies the sequence of things you want to operate on

Imagine you wanted to add up numbers. Typing all this out would be terribly boring

In [62]:
x = 0
x = x + 1
x = x + 2
x = x + 3
x = x + 4
x

10

In [64]:
for i in range(5):
    x += i
x

10

In [65]:
limit = 30
x = 0
x <= limit

True

In [66]:
limit = 30
x = 0
n = 1

while x <= limit:
    print("what is the current x value? %i"%x)
    x = x + n 
    print("after adding %i, x=%i"%(n,x))
    n = n + 1
    
print()
print('limit exceeded! x is now:')
print(x)

what is the current x value? 0
after adding 1, x=1
what is the current x value? 1
after adding 2, x=3
what is the current x value? 3
after adding 3, x=6
what is the current x value? 6
after adding 4, x=10
what is the current x value? 10
after adding 5, x=15
what is the current x value? 15
after adding 6, x=21
what is the current x value? 21
after adding 7, x=28
what is the current x value? 28
after adding 8, x=36

limit exceeded! x is now:
36

## 4.2. For loops operate on sequences directly

## To get a stream of increasing numbers you can use `range`:

In [67]:
for i in range(5):
    print(i, message[i])

0 T
1 h
2 i
3 s
4

## 4.3. Additionally, it's very common to get the length of an object via the `len` function and put that into `range` (Shoutout to Lauren Cutler on this one)

In [68]:
for i in range(len(my_tuple)):
    print(i, my_tuple[i])

0 4
1 5
2 6

## 4.4. You also can put anything that looks like a sequence of other things into the `for` loop directly

In [69]:
all_my_values = [5,2,9]
for v in all_my_values:
    print(v, v*v)

5 25
2 4
9 81

## 4.5. Finally, what if we want iterate a sequence and their corresponding counts in `for` loop?

### We use `enumerate`

In [70]:
all_my_values = [5,2,9]
for i,v in enumerate(all_my_values):
    print(i, v, v*v)

0 5 25
1 2 4
2 9 81

## 5. Functions

Functions are much like math functions

They take an input and do something with it to produce an output

In [71]:
# def starts a new function
# | 
# |  this is the name of the new function
# |  |
# |  |          this is an input variable to the function
# |  |          |
# v  v          v
def my_function(in_var):
    intermediate = in_var * 8
    out_var = intermediate + 1
    return out_var
#          ^
#          |
#          this is what will come out

In [72]:
def my_function(in_var):
    intermediate = in_var * 8
    out_var = intermediate + 1
    return out_var

In [73]:
my_function(0)

1

In [74]:
my_function(4)

33

In [75]:
my_function(x)

289

In [76]:
outs = []
for i in range(4):
    outs.append(my_function(i))
    
print(outs)

[1, 9, 17, 25]

# 6. Importing other modules

One of the reasons python has become very popular in data science is the number of useful packages it has

We will only look at a couple today that are included in your basic python installation

Later in the semester we'll look at some developed by the data science community

For now, we can look at the `import` keyword

In [77]:
import math

In [78]:
math.sin

In [79]:
math.cos(math.pi)

-1.0

## 6.1. How do we know what functions we get from importing a module?

You can run the `dir` function on the module name directly

Ignoring the ones that start with `__` (it's a weird python thing) you can see all of our basic math functions

In [80]:
dir(math)

['__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'ceil',
 'comb',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'dist',
 'e',
 'erf',
 'erfc',
 'exp',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'isqrt',
 'lcm',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'nextafter',
 'perm',
 'pi',
 'pow',
 'prod',
 'radians',
 'remainder',
 'sin',
 'sinh',
 'sqrt',
 'tan',
 'tanh',
 'tau',
 'trunc',
 'ulp']

# We can also use `<Tab>`

Type the module name follow by a period sign, and press \<Tab>

In [ ]:
math.

## That's all for now

So that was a whirlwind tour of python. Some of the concepts might still be a bit hazy or confusing, but that's okay.

If you want to explore further the official python tutorial has a ton of extra content: https://docs.python.org/3/tutorial/